<%- model_class = Course -%>

<div class="page-header">
  <h1><%=t '.name', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="row">
  <div class="span3"></div>
</div>

<table class="table table-striped" >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="crs">
    <% @courses.each do |course| %>
      <%= debug(course.inspect) %>
      <tr id="<%= course.id %>">
        <td><%= link_to course.id, course_path(course) %></td>
        <td><%= course.name %></td>
        <td><%= course.body %></td>
        <td><%= course.start_at %></td>
        <td><%= course.end_at %></td>
        <td><%=l course.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_path(course), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_path(course),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_path,
            :class => 'btn btn-primary' %>

<div id="courses">
    <h4>User "<%= current_user.email %>"</h4>
    <div>
        <ol>
            <li class="placeholder">Add your items here</li>
        </ol>
    </div>
</div>

<div id="products">
    <div id="catalog">
        <h4>Courses</h4>
        <div>
            <table class="table table-striped" >
              <tbody>
                <% @courses.each do |course| %>
                  <tr>
                    <td><%= course.name %></td>
                    <td><%= course.body %></td>
                    <td><%= course.start_at %></td>
                    <td><%= course.end_at %></td>
                  </tr>
                <% end %>
              </tbody>  
            </table>
        </div>
    </div>
</div>
 