!!!
%html
  %head
    %title Super Courses
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application",'event_calendar.js'
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner  
        .container-fluid
          %ul.nav
            %li= link_to "Lessons", courses_path
            %li= link_to "Calendar", calendar_path
          %ul.nav
            - if user_signed_in?
              %li= link_to "Profile", edit_user_registration_path(current_user)
              %li= link_to "Log out", destroy_user_session_path
            - else
              %li= link_to "Login", new_user_session_path
              %li= link_to "Sing up", new_user_registration_path
    .container.hero-unit
      %p= notice
      %p= alert
      = yield
    .container.hero-unit.new
      © Copyright 2012 Garage Ruby Team Design 